body {
    font-size: 16px;
    line-height: 1.7em;
    }

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.header {
     background: #2d3e50;
}

.header .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.header-icon {
    width: 2.5em;
    padding: 0.25em;
}
.main-container {
    background: lightgrey;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.main {
    width: 100%;
    height: 92%;
    margin: auto;
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}

.main form {
    border: 3px solid rgb(196, 196, 196);
}

.pure-form legend {
    padding: .3em 0;
    margin-bottom: .3em;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid rgb(68, 68, 68);
}

.pure-form legend h3 {
    padding-left: 1em;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

th, td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.l-box {
    padding: 1em;
}

.l-box-horizontal {
    padding: 0 1em;
}

.section-header {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
     padding: 0 1em;
}

.channel-header {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
     padding: 1em 1em 0 1em;
}

.image-label img
{
    width: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto 
}

.image-file {
    width:100%;
}

.delete-button-form {
     border: none !important;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #bdbdbd;
    color: #fff;
}

.list-change-btn {
    font-size: 200%;
    font-weight: bold;
    padding: 0;
}

.filename {
    text-transform: none;
}

.thumb-img {
     width: 240px;
}

.grid-field {
    width:100%;
}

.process-button {
    margin: 0 auto 1em auto;
}

.center-align {
    text-align: center
}

.center-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-center-align {
    margin: 0 auto;
}