body {
    font-size: 16px;
    line-height: 1.7em;
}

.header {
     background: #2d3e50;
}

.header .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.header-icon {
    width: 2.5em;
    padding: 0.25em;
}
.main-container {
    background: lightgrey;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.main {
    width: 100%;
    height: 92%;
    margin: auto;
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}

.main form {
    border: 3px solid white;
    background: #95aae2;
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: white;
    border-bottom: 1px solid #e5e5e5;
}

.pure-form legend h3 {
    padding-left: 1em;
}

.input-image {
    padding: 1em;
}

.image-label img
{
    width: 100px;
    cursor: pointer;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #bdbdbd;
    color: #fff;
}

.list-change-btn {
    font-size: 200%;
    font-weight: bold;
    padding: 0;
}

.images-table {
    table-layout: fixed;
}

.filename {
    text-transform: none;
}

.thumb-img {
     width: 240px;
}