{{define "title"}}
Channel Packer
{{end}} 

{{define "body"}}
<div class="main pure-g">
    <div class="pure-u-1-2 l-box">
        {{template "input" .}}
    </div>
    <div class="pure-u-1-2 l-box">
        {{template "output" .}}
    </div>
    <script type="text/javascript">
        let ConfigData = {{.}};
    </script>
</div>
{{end}}